/*BEO, MARIA ANDREA Q.*/
@import url();
.kimi {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:   #834326;
  --text-color: #ffffff;
}
html {
  font-size: 10px;
}
body {
font-family: 'Times New Roman', Times, serif;
  background-color: #361603;
  color: white;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
h2{
    color: #e6951c;
}

.Container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  padding: 5rem;
  background: #361603;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media only screen and (max-width:768px) {
  .Container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}
.Profile {
  grid-column: 1 / -1;
  margin-bottom: 5rem;
}

.Left-Corner,
.Right-Corner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Footer {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.Footer-Cont {
  flex: 0.5;
}

.Prof-Cont {
  display: flex;
  gap: 8rem;
}
.Image {
  max-width: 250px;
}

.Fname {
  color: white;
  font-weight: 200;
  font-size: clamp(2.5rem, 10vw, 5.5rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.Lname {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 10vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.Prof-Title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width:768px) {
  .Prof-Cont {
    flex-direction: column;
  }
}

.Skills-List,
.Educ-Item,
.Award-Item,
.Exp-Item,
.Seminar-Item,
.Social-Items {
  margin-top: 1rem;
}

.Social-List {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}
.Social-List:hover {
  color: var(--primary-color);
}
hr {
  grid-column: 1 / -1;
  width: 80%;
  margin: 5rem auto 1rem auto;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.229);
}

/*BEO, MARIA ANDREA Q. ACT 2-B*/

